ProgrammingProblems/bin/
ProgrammingProblems/.metadata/
.metadata/
ProgrammingProblems/.project
ProgrammingProblems/.checkstyle
ProgrammingProblems/.classpath
ProgrammingProblems/.settings/org.eclipse.jdt.core.prefs
ProgrammingProblems/src/spoj/
ProgrammingProblems/src/AbstractFactory/
ProgrammingProblems/src/singleton/
ProgrammingProblems/src/caspaBuilder/
ProgrammingProblems/src/protoTypeClash/
ProgrammingProblems/src/basicMathAlgorithm/
ProgrammingProblems/src/FactoryPattern/
ProgrammingProblems/src/other/
ProgrammingProblems/src/poj/
